<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Find help on this application on
  <a href="https://github.com/jpboily/recipe-manager/wiki" target="_blank">Recipe Manager's Wiki Page</a> on
  <a href="https://github.com" target="_blank"><em>GitHub</em></a>.
</p>