<footer class="footer">
  <small>
    The Recipe Manager
    by <a href="https://github.com/jpboily">Jean-Philippe Boily</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/static_pages/about' %></li>
      <li><%= link_to "Contact", '/static_pages/contact' %></li>
    </ul>
  </nav>
</footer>