<footer class="footer">
  <small>
    The Recipe Manager
    by <a href="https://github.com/jpboily">Jean-Philippe Boily</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>